@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "IBMPlexSansKR-Regular";
  background-color: #292a30;
}

a {
  color: skyblue;
  &:hover {
    text-decoration: underline;
  }
}
.cm-content,
.cm-gutterElement {
  font-family: "IBMPlexSansKR-Regular" !important;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  height: 20%;
  background: #777;
}
::-webkit-scrollbar-track {
  background-color: rgba(33, 122, 244, 0.1);
}
